{% extends "main.html" %}
{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between bg-light px-5 py-3 mb-5">
        <h4>EPS Data</h4>
        <a href="{{ url_for('refresh') }}" class="btn btn-dark btn-small">Refresh</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">EPS</th>
        </tr>
        </thead>
        <tbody>
        {% for news in news_list %}
        <tr class="text-center">
            <th scope="row">{{loop.index}}</th>
            <td>{{ news.year }}-{{news.month}}</td>
            <td>{{news.eps}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}