{% extends "main.html" %}
{%block css%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between bg-light px-5 py-3 mb-5">
        <h4>Trade Codes</h4>
        <div>
            <a href="{{ url_for('index') }}" class="btn btn-dark btn-small">Refresh Trades</a>
        </div>
    </div>
    <table class="table table-striped" id="trades" style="width:100%">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Trade Code</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for trade in trades %}
        <tr>
            <th scope="row" class="text-center">{{loop.index}}</th>
            <td class="text-start">{{ trade.trade_code}}</td>
            <td class="text-end"><a href="{{ url_for('eps', trade_id=trade.id) }}" class="btn btn-sm btn-dark">View
                EPS</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-5">
    <a href="{{ url_for('import_data') }}" class="btn btn-dark btn-small mx-auto">Import Trades</a>
        </div>
</div>
{% endblock %}
{%block js%}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#trades').DataTable();
    });
</script>
{% endblock %}